body {
    text-align: center;
    background-color: #000000;
    margin: 0;
}

h1 {
    height: 70px;
    margin: 0;
    color: #EEEEEE;
    font-family: "Space Mono";
    font-size: 50px;
}

#game {
    width: 700px;
    height: 570px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -285px;
}